<form [formGroup]="songForm"
      (ngSubmit)="submit()">
  <div class="form-group">
    <label for="title">Title</label>
    <input name="title"
           formControlName="title"
           class="form-control">
    <div class="alert alert-danger"
         *ngIf="title.invalid  && (title.dirty || title.touched)">
      <div *ngIf="title.errors.required">
        This is required.
      </div>
      <div *ngIf="title.errors.maxlength">
        That name is too darned long. (it should be {{ title.errors.maxlength.requiredLength }} or less.)
      </div>
      <pre>
        {{ title.errors | json }}
      </pre>
    </div>
  </div>
  <div class="form-group">
    <label for="artist">Artist</label>
    <input name="artist"
           formControlName="artist"
           class="form-control">
  </div>
  <div class="form-group">
    <label for="album">Album</label>
    <input name="album"
           formControlName="album"
           class="form-control">
  </div>
  <input type="submit"
         [disabled]="songForm.invalid"
         value="Add Song To Collection"
         class="btn btn-success">
</form>
