<div class="card">
  <div class="card-body">
    <h5 class="card-title">Song Title Here</h5>
    <h6 class="card-subtitle mb-2 text-muted">Song Title by Song Artist</h6>
    <p class="card-text">The Song Song Title is on the Album Album Title</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Song Title Here</h5>
    <h6 class="card-subtitle mb-2 text-muted">Song Title by Song Artist</h6>
    <p class="card-text">The Song Song Title is on the Album Album Title</p>
  </div>
</div>
